@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins&display=swap');

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lora', serif;
}
    <!-- HOMEPAGE START -->
.img1{
    display: flex;
    flex-direction:center;
    justify-content:center;
    height: 25vw;
}
     <!-- HOMEPAGE END -->

    <!-- HISTORY START -->

.img2{
    display: flex;
    flex-direction:center;
    justify-content:center;
    height: 25vw;
}
.img3{
    display: flex;
    justify-content:center;
    height: 50%;

}


